<div class="container-fluid header_wrap">
  <div class="container">
    <div class="col-3"></div>
    <div class="col-12">
      <nav class="navbar">
        <a href="#" class="navbar-brand">
          <img
            [src]="logo.logoData"
            width="20"
            height="20"
            alt="logo"
          />
        </a>
        <span class="nav_text">Student teams</span>
      </nav>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <input
        type="button"
        class="btn"
        id="but"
        value="Добавить книгу"
        *ngIf="addBookBtnVisibility"
        (click)="addBook()"
      />
    </div>

    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <div class="card-deck" id="colCards" *ngIf="cardDeckVisibility">
        <div  class="card" *ngFor="let card of getCards()">  
          <img [src]="filereader.imgUrlBook" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title">{{ card.Title }}</h5>
            <p class="card-text">{{ card.Text }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ card.TextFooter }}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col" id="tbo"></div>
    <div class="col"></div>
  </div>
</div>

<div class="container-fluid addBookForm" *ngIf="addBookFormVisibility">
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <div class="overlay" id="popup1">
        <div class="wrapper">
          <div class="container col">
            <form action="" class="col" id="newBook">
              <h1>Новая книга</h1>
              <div class="form-group">
                <label for="namebook"> Название: </label>
                <input
                  class="form-control"
                  type="text"
                  name="namebk"
                  id="namebook"
                  placeholder="Название книги"
                  [(ngModel)]="card.Title"
                />
              </div>
              <div class="form-group">
                <label for="dateBook"> Год написания: </label>
                <input
                  class="form-control"
                  type="text"
                  name="dateB"
                  id="dateBook"
                  placeholder="0000"
                  [(ngModel)]="card.TextFooter"
                />
              </div>
              <div class="form-group">
                <label for="descriptionBook"> Описание: </label>
                <textarea
                  name="textarea"
                  id="descriptionBook"
                  cols="30"
                  rows="5"
                  class="form-control"
                  placeholder="Краткое описание"
                  [(ngModel)]="card.Text"
                ></textarea>
              </div>
              <label for="photoBk">Загрузите изображение книги </label>
              <br />

              <filereader></filereader>

              <br /><br />
              <input
                type="button"
                class="btn"
                id="but1"
                value="Создать"
                (click)="createBook()"
              />
              <input
                type="button"
                class="btn"
                id="but2"
                value="Отмена"
                (click)="createBookCancel()"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
