<div class="container-fluid header_wrap">
  <div class="container">
    <div class="col-3"></div>
    <div class="col-12">
      <nav class="navbar">
        <a href="#" class="navbar-brand">
          <img [src]="logo.logoData" width="20" height="20" alt="logo" />
        </a>
        <span class="nav_text">Student teams</span>
      </nav>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<div class="container-fluid form_enter_wrap">
  <div class="container form_container">
    <div class="col-3"></div>
    <div class="col-6 form_colum">
      <div class="row header_ST">
        <h2>Вход Мывотряде</h2>
      </div>
      <div class="row form_enter">
        <app-enterform></app-enterform>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<div class="container-fluid footer_wrap">
  <div class="container footer_wrap_2">
    <div class="row footer_wrap_3">
      <div class="col">
        <a href="https://www.vk.com/club24447840">© 2016 - 2020 СОКО</a>
      </div>
      <div class="col">
        <a
          href="https://www.dropbox.com/s/hsh7qs83ly1nnjc/Руководство_пользователя.pdf?dl=0"
          >Руководство пользователя</a
        >
      </div>
      <div class="col">
        <a href="https://www.dropbox.com/s/tioik5usa1b6t0i/Rules.pdf?dl=0"
          >Пользовательское соглашение</a
        >
      </div>
      <div class="col">
        <a
          href="https://www.dropbox.com/s/r82notrg9ghezdk/Confidential.pdf?dl=0"
          >Политика конфиденциальности</a
        >
      </div>
      <div class="col"><a href="#">Новости</a></div>
      <div class="col"><a href="#">О нас</a></div>
    </div>
  </div>
</div>
